$tnt-black: (
    50 : #e5e4e4,
    100 : #bebcbb,
    200 : #93908e,
    300 : #686461,
    400 : #47423f,
    500 : #27211d,
    600 : #231d1a,
    700 : #1d1815,
    800 : #171411,
    900 : #0e0b0a,
    A100 : #ffa953,
    A200 : #ff9020,
    A400 : #ec7600,
    A700 : #d36900,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$tnt-red: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$tnt-grey: (
    50 : #eeeeee,
    100 : #d4d4d4,
    200 : #b8b8b8,
    300 : #9b9b9b,
    400 : #858585,
    500 : #707070,
    600 : #686868,
    700 : #5d5d5d,
    800 : #535353,
    900 : #414141,
    A100 : #f5a9a9,
    A200 : #f07b7b,
    A400 : #ff3a3a,
    A700 : #ff2020,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);