<div class="container">
	<mat-card>
		<mat-card-title>Shipping Address</mat-card-title>
		<mat-card-content>
			<form class="form-container" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

				<div class="two-item-container">
					<mat-form-field class="form-item" formGroupName="shippingAddress">
						<input matInput formControlName="firstName" placeholder="First Name" required>
					</mat-form-field>

					<mat-form-field class="form-item" formGroupName="shippingAddress">
						<input matInput formControlName="lastName" placeholder="Last Name" required>
					</mat-form-field>
				</div>

				<div formGroupName="shippingAddress">
					<mat-form-field class="form-item" formGroupName="address">
						<input matInput formControlName="address1" placeholder="Address 1" required>
					</mat-form-field>

					<mat-form-field class="form-item" formGroupName="address">
						<input matInput formControlName="address2" placeholder="Address 2">
					</mat-form-field>

					<div class="two-item-container">
						<mat-form-field class="form-item" formGroupName="address">
							<input matInput formControlName="city" placeholder="City" required>
						</mat-form-field>

						<mat-form-field class="form-item" formGroupName="address">
							<input matInput formControlName="province" placeholder="Province" required>
						</mat-form-field>
					</div>

					<mat-form-field formGroupName="address">
						<input matInput formControlName="postalCode" placeholder="Postal Code" required>
					</mat-form-field>
				</div>

				<div class="two-item-container">
					<mat-form-field class="form-item" formGroupName="shippingAddress">
						<input matInput formControlName="email" placeholder="Email" required>
					</mat-form-field>

					<mat-form-field class="form-item" formGroupName="shippingAddress">
						<input matInput formControlName="confirmEmail" placeholder="Confirm Email" required>
					</mat-form-field>
				</div>

				<mat-form-field class="form-item" formGroupName="shippingAddress">
					<input matInput formControlName="phone" placeholder="Phone" required>
				</mat-form-field>

				<mat-checkbox class="form-item" [color]="'primary'">Also use for Billing Address</mat-checkbox>

				<div class="form-item two-item-container">
					<button mat-flat-button type="submit" [color]="'primary'"
						[disabled]="paymentForm.pristine">Save</button>
					<button mat-flat-button type="reset" [color]="'accent'" (click)="reset()"
						[disabled]="paymentForm.pristine">Revert</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>