.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-item {
    flex: 0 0 auto;
    width: 100%;
}

.two-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .form-item {
        flex: 1 1 40%;

        &:first-child {
            margin-right: 20px;
        }

        &:only-child {
            margin: 0;
        }
    }

    button {
        margin-top: 20px;
        flex: 0 0 40%;
    }
}

mat-card {
    margin-top: 20px;
    flex: 0 0 300px;
}
