<div id="container">
	<mat-horizontal-stepper linear #stepper (selectionChange)="stepperChange($event)">
		<mat-step label="Shipping" [stepControl]="shippingForm">
			<mat-card>
				<mat-card-title>
					Shipping Information
				</mat-card-title>
				<mat-divider></mat-divider>
				<mat-card-content>
					<app-contact-form [form]="checkoutForm.controls['shippingAddress']"></app-contact-form>
				</mat-card-content>
				<form class="form-container" [formGroup]="checkoutForm">
					<mat-checkbox class="form-item" [color]="'primary'" formControlName="useForBilling">
						Also use for Billing Address
					</mat-checkbox>
				</form>
				<mat-divider></mat-divider>
				<form class="form-container" [formGroup]="checkoutForm.controls['shippingAddress']">
					<button class="form-item half" mat-flat-button type="reset" [color]="'accent'"
						(click)="resetCurrent('shippingAddress')"
						[disabled]="checkoutForm.controls['shippingAddress'].pristine">Clear</button>
					<button class="form-item half" mat-flat-button matStepperNext type="button" [color]="'primary'"
						[disabled]="checkoutForm.controls['shippingAddress'].pristine" (click)="output()">Next</button>
				</form>
			</mat-card>
		</mat-step>
		<mat-step label="Billing" [stepControl]="billingForm">
			<mat-card>
				<mat-card-title>
					Billing Information
				</mat-card-title>
				<mat-divider></mat-divider>
				<mat-card-content>
					<app-contact-form [form]="checkoutForm.controls['billingAddress']" [useShipping]="useForBilling"></app-contact-form>
				</mat-card-content>
				<mat-divider></mat-divider>
				<form class="form-container" [formGroup]="checkoutForm.controls['billingAddress']">
					<button class="form-item half" mat-flat-button type="reset" [color]="'accent'"
						(click)="resetCurrent('billingAddress')"
						[disabled]="checkoutForm.controls['billingAddress'].pristine || useForBilling">Clear</button>
					<button class="form-item half" mat-flat-button matStepperNext type="button" [color]="'primary'"
						[disabled]="checkoutForm.controls['billingAddress'].pristine" (click)="output()">Next</button>
				</form>
			</mat-card>
		</mat-step>
		<mat-step label="Payment" [stepControl]="paymentForm">
			<mat-card>
				<mat-card-title>
					Payment Information
				</mat-card-title>
				<mat-divider></mat-divider>
				<mat-card-content>
				</mat-card-content>
				<mat-divider></mat-divider>
				<form class="form-container" [formGroup]="checkoutForm.controls['paymentOption']">
					<button class="form-item half" mat-flat-button type="reset" [color]="'accent'"
						(click)="resetCurrent('paymentOption')"
						[disabled]="checkoutForm.controls['paymentOption'].pristine">Clear</button>
					<button class="form-item half" mat-flat-button matStepperNext type="button" [color]="'primary'"
						[disabled]="checkoutForm.controls['paymentOption'].pristine" (click)="output()">Next</button>
				</form>
			</mat-card>
		</mat-step>
		<mat-step label="Review">
			<mat-card>
				<mat-card-title>
					Checkout Review
				</mat-card-title>
				<mat-divider></mat-divider>
				<mat-card-content>
				</mat-card-content>
				<mat-divider></mat-divider>
			</mat-card>
		</mat-step>
	</mat-horizontal-stepper>
	<!-- <div class="secondary-color reset-button">
		<button class="secondary-color" mat-flat-button type="button" [color]="'accent'" (click)="stepper.reset()">
			Restart
		</button>
	</div> -->
</div>